
JsonEmpty/*
!JsonEmpty/.gitkeep

ExcelEmpty/*
!ExcelEmpty/.gitkeep

CompleteExcel/*
!CompleteExcel/.gitkeep

JsonComplete/es/*
!JsonComplete/es/.gitkeep

JsonComplete/ca/*
!JsonComplete/ca/.gitkeep

JsonComplete/pt/*
!JsonComplete/pt/.gitkeep

JsonComplete/gl/*
!JsonComplete/gal/.gitkeep

JsonComplete/eu/*
!JsonComplete/eus/.gitkeep


node_modules
dist
.env
.DS_Store
